<!-- <app-folder></app-folder> -->
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<input #ngModel>

<input name="email" id="email" type="email" required placeholder="Email address"
   #email="ngModel" [(ngModel)]="emailyz" class="form-control col-xs-4 col-sm-4 col-md-4 col-lg-4 normal"
     [class.is-invalid]="email.touched && email.invalid"
     pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> 
 <small class="text-danger" *ngIf="email.errors?.required && email.touched "> *email is required</small> 
<small class="text-danger" *ngIf="email.errors?.pattern "> *email is invalid</small>  
 <table class="table"> 
  <tbody>
      <tr> <th>Invoice ID:</th> <th> <input class="form-control col-md-4" name="id" #id="ngModel" [(ngModel)]="invoice.invoiceID"></th> </tr>
      <tr> <th>Client Name:</th><th> <input class="form-control col-md-4" name="name" #name="ngModel" [(ngModel)]="invoice.invoiceID"></th> </tr>
      <tr> <th>Date:</th>       <th> <input class="form-control col-md-4" name="date" #date="ngModel" [(ngModel)]="invoice.date"></th> </tr>
      <tr> <th>Due Date::</th>  <th> <input class="form-control col-md-4"  name="dueDate" #dueDate="ngModel" [(ngModel)]="invoice.dueDate"></th> </tr>
      <tr> <th>Total:</th>      <th> <input class="form-control col-md-4"  name="total" #total="ngModel" [(ngModel)]="invoice.total"></th> </tr>
  </tbody>  
</table> 


<button (click)="func()">clck</button>

<app-folder></app-folder>

<app-folder></app-folder>